<mat-accordion multi="false">
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Dining Room
            </mat-panel-title>
        </mat-expansion-panel-header>
        <app-dining-room></app-dining-room>
    </mat-expansion-panel>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Living Room
            </mat-panel-title>
        </mat-expansion-panel-header>
        <app-living-room></app-living-room>
    </mat-expansion-panel>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Master Bedroom
            </mat-panel-title>
        </mat-expansion-panel-header>
        <app-master-bedroom></app-master-bedroom>
    </mat-expansion-panel>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Common Bathroom
            </mat-panel-title>
        </mat-expansion-panel-header>
        <app-common-bathroom></app-common-bathroom>
    </mat-expansion-panel>
</mat-accordion>